/* colo palate is red white and grey */
.hero{
  height: 1000px;
  background:linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0, 0.8)) ,url(../assets/hero2.jpg) no-repeat center /cover;
  color: white;
  
}